[alias]
    lg = log --graph --all --format=format:'%C(bold blue)%h%C(reset) — %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
    lgWD = log --graph --all --format=format:'%C(bold blue)%h%C(reset) — %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n'' %C(white)%s%C(reset) %C(bold white)— %an%C(reset)' --abbrev-commit
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    co = checkout
    br = branch
    st = status --short
    mersq = merge --squash
    free = branch -D
[color]
	ui = auto
[user]
	name = Larilok
[url "https://github.com/"]
    insteadOf = gh:
[core]
	excludesfile = .gitexcludes
